<a href="https://colab.research.google.com/github/water-lilies/DataScience/blob/master/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2019.12.09 1일차**

http://10.5.4.100:8080/python.html

수업 자료 링크

 파이썬은 인터프리터 언어!
 (컴파일러 언어와 차이점 얘기하고 지나갔음)

> interpreter language

- 번역기보다는 해석기. 프로그램 코드를 기계어(어샘블리어)로 컴파일 할 필요 없이 선언문을 런타임에 직접 실행하는 컴퓨터 '프로그램' 또는 '환경'
 
- 코드를 한줄 한줄 읽어가며 명령을 처리. 한줄이 바뀔 때 마다 즉시 검사.

- R 이나  Python 이 대표적.

- 실행 속도가 컴파일러에 비해 느리다. (번역 속도는 빠름)

- 명령을 잘못 입력하면 바로 수정할 수 있는 장점


> compiler language

- 프로그램 언어를 기계어로 바꾸어 주는 번역기

- 명령어들을 몽땅 모아놓고 한번에 실행. 컴파일 시점은 런타임 전.

- 메모리를 많이 차지 한다.

- 처음에 컴파일 과정이 오래걸릴 수 있지만(초기 실행속도가 느림), 컴파일 이후에는 실행이 빠르고 더이상 변환하지 않아도 되기 때문에 효율적.

- C C++ 이 대표적

- 반복작업에 강하다.

---

### 02. 변수와 자료형

In [0]:
data = 9.0
type(data) # float
print(data) # 9.0

In [0]:
data='hello'
type(data) # str
print(data) # hello

In [0]:
data=False
type(data) # bool
print(data) # False

In [0]:
a = 10.5
result = bool(a)
print(result)

In [0]:
print(" "==False) # False
print(""==False) # False

In [0]:
a = '76.3'
b = float(a)
print(a+b)
# 오류! type이 달라서 덧셈이 안됨

In [0]:
a = float(76.3)
b = a
print(a+b)

### 03. 화면 입출력과 리스트

In [0]:
print('이름을 입력하세요')
somebody = input()
print('안녕하세요? ' , somebody , '님, 반갑습니다.' )

In [0]:
print('본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.')
C = int(input('변환하고 싶은 섭씨 온도를 입력하세요. '))
F = (C*1.8)+32 
print('섭씨온도: ' , C)
print('화씨온도: ' , F)

# print 에서 + 이 안되는 이유 ==> 같은 형 끼리만 덧셈이 되기때문. str은 str끼리, int는 int끼리

In [0]:
colors = ['red','blue','green']
print(colors[0])
print(len(colors)) # 3

# [0] [1] [2] 이런건 인덱스라고 함
# 다른 프로그래밍언어에서는 배열이라고 함

# 변수의 주소값이 0부터 시작하는 이유? 이진수관점에서 메모리를 절약할 수 있기 때문! 
# 지금은 큰 문제가 되지 않지만, 초기 컴퓨터들은 메모리 절약이 매우 큰 이슈였기 때문에 중요했다.

In [0]:
# 리스트에는 인덱스를 마지막값부터 시작하는 "리버스 인덱스" 기능이 있다.

# 값 ['서울','부산','인천','대구','대전','광주','울산','수원']
# 인덱스 -8   -7     -6     -5      -4     -3     -2     -1

### 04. 조건문과 반복문

In [0]:
print("Tell me your age?")
myAge = int(input())
if myAge < 30 :
  print("Welcome to the Club.")
else:
  print("Oh! No. You are not acceped.")

In [0]:
print("당신이 태어난 연도를 입력하세요.")
birthYear = int(input())
age = 2020 - birthYear + 1
if 20 <= age <= 26:
  print('대학생')
elif 17 <= age < 20:
  print('고등학생')
elif 14 <= age < 17:
  print('중학생')
elif 8 <= age < 14:
  print('초등학생')
else:
  print('학생이 아닙니다.')

In [0]:
for i in range(1,11,2):
  print(i) # 홀수 출력 1 3 5 7 9

In [0]:
for i in range(1,11,2):
  print(i+1) # 짝수 출력 2 4 6 8 10

In [0]:
for i in range(2,11,2):
  print(i) # 짝수 출력 2 4 6 8 10

In [0]:
 for i in range(10):
   if(i==5): break
   print(i)
else:
  print("End of Loop")

0
1
2
3
4

In [0]:
print()
for i in range(10):
  if(i==5): continue
  print(i)
else:
  print("End of Loop")

0
1
2
3
4
6
7
8
9
End of Loop

In [0]:
# while 반복문에서 else는 함께 사용 가능할까요?
# while 반복문에서 else가 함께 사용가능하면 위의 for문에서의 결과와 동일하게 처리될까요?

In [0]:
print("구구단 몇 단을 계산할까?")
dan = int(input())
print("구구단 ",dan,"단을 계산한다.")
for i in range(1,10):
  result=dan*i
  print(dan,"x",i,"=",result)

구구단 몇 단을 계산할까?
5
구구단  5 단을 계산한다.
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [0]:
for num in range(1,10):
  for dan in range(2,10):
    gugu="{0} X {1} = {2}".format(num,dan,(num*dan))
    print(gugu, end=" ")
  print()

1 X 2 = 2 1 X 3 = 3 1 X 4 = 4 1 X 5 = 5 1 X 6 = 6 1 X 7 = 7 1 X 8 = 8 1 X 9 = 9
2 X 2 = 4 2 X 3 = 6 2 X 4 = 8 2 X 5 = 10 2 X 6 = 12 2 X 7 = 14 2 X 8 = 16 2 X 9 = 18
3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27
4 X 2 = 8 4 X 3 = 12 4 X 4 = 16 4 X 5 = 20 4 X 6 = 24 4 X 7 = 28 4 X 8 = 32 4 X 9 = 36
5 X 2 = 10 5 X 3 = 15 5 X 4 = 20 5 X 5 = 25 5 X 6 = 30 5 X 7 = 35 5 X 8 = 40 5 X 9 = 45
6 X 2 = 12 6 X 3 = 18 6 X 4 = 24 6 X 5 = 30 6 X 6 = 36 6 X 7 = 42 6 X 8 = 48 6 X 9 = 54
7 X 2 = 14 7 X 3 = 21 7 X 4 = 28 7 X 5 = 35 7 X 6 = 42 7 X 7 = 49 7 X 8 = 56 7 X 9 = 63
8 X 2 = 16 8 X 3 = 24 8 X 4 = 32 8 X 5 = 40 8 X 6 = 48 8 X 7 = 56 8 X 8 = 64 8 X 9 = 72
9 X 2 = 18 9 X 3 = 27 9 X 4 = 36 9 X 5 = 45 9 X 6 = 54 9 X 7 = 63 9 X 8 = 72 9 X 9 = 81

In [0]:
a = 8.8
b = 2
print(a // b)

4.0

In [0]:
a = 777
b = 777
print(a == b, a is b)

True False

In [0]:
a = 10.6
b = 10.5
print(a * b)

type(a + b)

111.3

float

In [0]:
a = '20'
b = '4'
print(type(float(a / b)))

TypeError: ignored

In [0]:
a = [0, 1, 2, 3, 4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [0]:
a = [0, 1, 2, 3, 4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [0]:
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]
order = [first, second, third]
john = [order[0][:-2], second[1::3], third[0]]
del john[2]  
john.extend([order[2][0:1]])   
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [0]:
list_a = [3, 2, 1, 4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

In [0]:
N = int(input())
if N % 2 == 0 :
  result = 1
  for i in range(1,N+1):
    result = result * i

else: 
  result = 0
  for i in range(1,N+1):
    result = result + i  

print(result)

10
3628800

In [0]:
number = ["1", 2, 3, float(4), str(5)]
if number[4] == 5:
  print(type(number[0]))
elif number[3] == 4:
  print(number[2:-1])

[3, 4.0]

In [0]:
first_value = 0
second_value = 0
for i in range(1, 10):
  if i is 5:
    continue
    first_value = i
  if i is 10:
    break
    second_value = i
print(first_value + second_value)

0

In [0]:
!git clone https://github.com/water-lilies/multicampus.git

Cloning into 'multicampus'...
remote: Enumerating objects: 657, done.
remote: Counting objects: 100% (657/657), done.
remote: Compressing objects: 100% (392/392), done.
remote: Total 657 (delta 261), reused 657 (delta 261), pack-reused 0
Receiving objects: 100% (657/657), 47.05 MiB | 21.75 MiB/s, done.
Resolving deltas: 100% (261/261), done.
Checking out files: 100% (641/641), done.