In [ ]:
import pandas as pd
import numpy as np

### pandas의 DataFrame 생성
- pandas의 2차원 자료 구조 객체 (Matrix) - DataFrame (컬럼, 데이터, 인덱스)
- ndarray, dict, list 등 다양한 데이터 타입으로부터 pandas의  DataFrame 생성

In [ ]:
#dict 타입으로부터 DataFrame 생성
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}
df = pd.DataFrame(dict_data)
print(type(df))
print(df)
print(df.index)  #행 인덱스
print(df.columns)  #열 이름

In [ ]:
# 데이터와 행인덱스, 열 이름을 지정해서 DataFrame 생성
df2 = pd.DataFrame([[25,'남' , '율도국'],[17, '여', '인당수']], index=['홍길동', '심청'], columns=['나이', '성별', '주소'])
print(type(df2))
print(df2)
print(df2.index)  #행 인덱스
print(df2.columns)  #열 이름
print(id(df2))

In [ ]:
df2.index =['주인공1', '주인공2']   #행 인덱스 변경 가능
df2.columns = ['age', 'gender', 'address']   #열 이름 변경 가능
print(df2)
print(df2.index)  #행 인덱스
print(df2.columns)  #열 이름
print(id(df2))

### pandas의 2차원 자료 구조 객체 (Matrix) - DataFrame (컬럼, 데이터, 인덱스)

ndarray, dict, list 등 다양한 데이터 타입으로부터 pandas의  DataFrame 생성

In [ ]:
#dict 타입으로부터 DataFrame 생성
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}
df = pd.DataFrame(dict_data)
print(type(df))
print(df)
print(df.index)  #행 인덱스
print(df.columns)  #열 이름

In [ ]:
# 데이터와 행인덱스, 열 이름을 지정해서 DataFrame 생성
df2 = pd.DataFrame([[25,'남' , '율도국'],[17, '여', '인당수']], index=['홍길동', '심청'], columns=['나이', '성별', '주소'])
print(type(df2))
print(df2)
print(df2.index)  #행 인덱스
print(df2.columns)  #열 이름
print(id(df2))

In [ ]:
df2.index =['주인공1', '주인공2']   #행 인덱스 변경 가능
df2.columns = ['age', 'gender', 'address']   #열 이름 변경 가능
print(df2)
print(df2.index)  #행 인덱스
print(df2.columns)  #열 이름
print(id(df2))

### IPython.display은 IPython 셸 환경에서 dataframe을 테이블 형식으로 표현합니다.

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display
my_2darray = np.array([[1,2,3], [4,5,6]])
display(pd.DataFrame(my_2darray))

In [ ]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}
display( pd.DataFrame(dict_data))

In [ ]:
df2 = pd.DataFrame([[25,'남' , '율도국'],[17, '여', '인당수']], index=['홍길동', '심청'], columns=['나이', '성별', '주소'])
display(df2)

In [ ]:
exam_data= {'수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data, index=['영희', '철수', '삼식'])
print(df)

In [ ]:
df2 = df[ : ]  # 새로운 DataFrame객체를 복제함
#print(id(df))
#print(id(df2))
result = df2.drop('삼식')  #행 인덱스(label)로 행 삭제한 새로운 데이터프레임 객체 생성 반환
print(df2)

In [ ]:
print(result)

In [ ]:
df2.drop('삼식', inplace=True)   #행 삭제한 새로운 데이터프레임 객체 반환대신 자기자신의 행 삭제
print(df2)

In [ ]:
df2 = df[ : ]  # 새로운 DataFrame객체를 복제함
df2.drop('수학', axis=1,  inplace=True) 
print(df2)

### 행선택

In [ ]:
student1 = df.loc['철수']   #label 을 사용해서 행을 선택
print(student1)
student2 = df.iloc[0]  #index 을 사용해서 행을 선택
print(student2)

In [ ]:
students1 = df.loc[['철수', '삼식']]   #label 을 사용해서 2개 이상 행을 선택
print(students1)

In [ ]:
students2 = df.iloc[[0,1]]  #index 을 사용해서 2개 이상 행을 선택
print(students2)

In [ ]:
students3 = df.loc['철수' : '삼식']   #행 인덱스(labe) 범위 지정,  행 선택,  end label을 포함
print(students3)

In [ ]:
students4 = df.iloc[0:2]  #행 인덱스 범위 지정,  행 선택 -  end index는 포함하지 않는다.
print(students4)

### 데이터프레임으로부터 열 선택

In [ ]:
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
print(df)

In [ ]:
print(df['수학'])
eng =df.영어
print(eng)
print(type(eng))   #Series 타입

In [ ]:
subjects = df[['수학', '국어']]
print(subjects)
print(type(subjects))    #DataFrame타입

In [ ]:
df.set_index('이름', inplace=True)
print(df)

In [ ]:
# 철수의 수학, 과학 점수 선택 출력 (label인덱스와 index 사용합니다.)
a = df.loc[ '철수', ['수학', '과학' ]]
print(a)

In [ ]:
b = df.iloc[ 1, [0, 3 ]]
print(b)

In [ ]:
# 철수의 국어, 과학 점수 선택 출력
a = df.loc[ '철수',  '국어':'과학']
print(a)

In [ ]:
b = df.iloc[ 1, 2: ]
print(b)

In [ ]:
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
print(df)

In [ ]:
#컬럼의 데이터 단일값으로 일괄 변경 
df['과학'] = 95
print(df)   #?

In [ ]:
#행 추가  - 동일한 값으로 추가됨
df.loc[3] = 0 
print(df)

In [ ]:
df.loc[4] = ['동식', 70,80,90,100] 
print(df)

In [ ]:
df.loc['행5'] = df.loc[3]  # 기존 행을 복사해서 새로운 행으로 추가
print(df)

In [ ]:
# 철수의 수학, 과학 점수 50으로 변경 
df.loc[ '철수', ['수학', '과학' ]] = 50,50
print(df)

---

In [ ]:
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
print(df)

In [ ]:
#데이터 프레임에서 전치를 수행하려면 메소드 활용
df = df.transpose()
print(df)

In [ ]:
df = df.T   #데이터프레임 클래스의 속성 활용
print(df)

### 인덱스 재지정  : reindex()

In [3]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}
df2 = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [20]:
new_index = ['r0', 'r1', 'r2', 'r3', 'r4' ]
new_df = df2.reindex(new_index)     
# 새로운 데이터프레임 객체를 생성 반환 ('r3', 'r4' 행의 데이터는 NA로 채움)

print(df2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [21]:
print(new_df )

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [5]:
new_df = df2.reindex(new_index, fill_value=0)    
#reindex로 발생된 NA를 0으로 채움  

print(df2)
print(new_df )

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [6]:
new_df = df2.reset_index() 
# 새로운 데이터프레임 객체를 생성 반환,  행 인덱스를 정수형으로 초기화

print(new_df )

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [7]:
new_df = df2.sort_index(ascending=False)  
# 새로운 데이터프레임 객체를 생성 반환 , 행 인덱스기준으로 내림차순 정렬

print(new_df )

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [8]:
new_df = df2.sort_index(ascending=False)  
# 새로운 데이터프레임 객체를 생성 반환 , 행 인덱스기준으로 내림차순 정렬

print(new_df )

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [9]:
student1 = pd.Series({'국어':100, '영어':90, '수학':80})
percentage = student1/300
print(percentage)
print(type(percentage))

국어    0.333333
영어    0.300000
수학    0.266667
dtype: float64
<class 'pandas.core.series.Series'>

In [17]:
student1 = pd.Series({'국어':np.nan, '영어':90, '수학':80})
student2 = pd.Series({ '영어':90, '수학':80})
print(student1)
print(student2)

국어     NaN
영어    90.0
수학    80.0
dtype: float64
영어    90
수학    80
dtype: int64

In [18]:
print(student1+student2 )  # student1.add(student2

국어      NaN
수학    160.0
영어    180.0
dtype: float64

In [19]:
division = student1/student2
print(division )

국어    NaN
수학    1.0
영어    1.0
dtype: float64

In [13]:
re_add = student1.add(student2, fill_value=0)
re_sub = student1.sub(student2, fill_value=0)
re_mul = student1.mul(student2, fill_value=0)
re_div = student1.div(student2, fill_value=0)
result = pd.DataFrame([re_add,re_sub,re_mul,re_div], index=['덧셈','뺄셈', '곱셈', '나눗셈'])
print(result)

     국어      수학      영어
덧셈  NaN   160.0   180.0
뺄셈  NaN     0.0     0.0
곱셈  NaN  6400.0  8100.0
나눗셈 NaN     1.0     1.0

### 데이터프레임+ 산술연산자+스칼라값

In [14]:
import  seaborn as sns
titanic = sns.load_dataset('titanic')

In [ ]:
df= titanic[ : , ['age', 'fare']]
print(df.head())
print(type(df))
addition = df+10
print(addition .head())
print(type(addition))

In [ ]:
subtraction= addition - df
print(subtraction .head())

In [ ]:
print(subtraction .tail())

In [ ]:
print(type(subtraction))

### 파일 읽고 저장하기

In [ ]:
file_path='./datas/read_csv_sample.csv'
df=pd.read_csv(file_path)
print(df)
print(type(df))
print(df.dtypes)
df2=pd.read_csv(file_path, header=None)
print(df2)
print(type(df2))

df3=pd.read_csv(file_path, index_col=None)
print(df3)
print(type(df3))

df4=pd.read_csv(file_path, index_col='c0')
print(df4)
print(type(df4))

In [ ]:
file_path='./datas/남북한발전전력량.xlsx'
df=pd.read_excel(file_path)
print(df)
print(type(df))
print(df.dtypes)

In [ ]:
df1=pd.read_excel(file_path, header=None)
print(df1)
print(type(df1))

In [ ]:
#JSON형식의 파일 읽기
file_path='./datas/df_sample.json'
df=pd.read_json(file_path) 
print(df)
print(df.index)
print(df.columns)

In [ ]:
#HTML형식의 파일로부터 테이블 읽기
file_path='./datas/sample.html'
tables=pd.read_html(file_path) 
print(len(tables))

In [ ]:
for i in range(len(tables)):
   print("tables[%s]" % i)
   print(tables[i])

In [ ]:
df = tables[1]
print(df)

In [ ]:
df.set_index(['name'] , inplace=True)
print(df)

In [ ]:
#CSV파일로 저장
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True)
print(df)

In [ ]:
df.to_csv("./output/exam_sample.csv")

In [ ]:
#JSON파일로 저장
df.to_json("./output/exam_sample.json")

In [ ]:
#excel파일로 저장
df.to_excel("./output/exam_sample.xlsx")

In [ ]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}
df2 = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df2)

In [ ]:
writer=pd.ExcelWriter("./output/df_excelwriter.xlsx")
df.to_excel(writer, sheet_name="sheet1")
df2.to_excel(writer, sheet_name="sheet2")
writer.save()

In [ ]:
#데이터 프레임에 함수 적용
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame
np.abs(frame)   #numpy의 유니버셜 함수를 데이터프레임 객체에 적용 가능

### 데이터 전처리

In [ ]:
#누락 데이터 찾기
import seaborn as sns
df = sns.load_dataset('titanic')
nan_deck_cnt= df['deck'].value_counts(dropna=False)
print(nan_deck_cnt)

In [ ]:
#데이터프레임의 데이터요소별로 NA 체크 - isnull(), notnull()
print(df.head())

In [ ]:
print(df.head().isnull())

In [ ]:
print(df.head().notnull())

In [ ]:
# 누락 데이터 개수 구하기
print(df.head().isnull().sum(axis=0))

In [ ]:
#누락 데이터 대체하기