## 지도 이용 시각화

In [8]:
import folium
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start=12)

seoul_map.save('./output/seoul.html')

In [9]:
import folium
seoul_map1 = folium.Map(location=[37.55, 126.98], tiles = 'Stamen Terrain' , zoom_start=12)
seoul_map2 = folium.Map(location=[37.55, 126.98], tiles = 'Stamen Toner' , zoom_start=12)

seoul_map2.save('./output/seoul2.html')
seoul_map1.save('./output/seoul1.html')

---

In [11]:
import folium
import pandas as pd

In [14]:
df = pd.read_excel('./data/서울지역 대학교 위치.xlsx')
df.head()

     Unnamed: 0         위도          경도
0  KAIST 서울캠퍼스   37.592573  127.046737
1         KC대학교  37.548345  126.854797
2  가톨릭대학교(성신교정)  37.585922  127.004328
3  가톨릭대학교(성의교정)  37.499623  127.006065
4      감리교신학대학교  37.567645  126.961610

In [17]:
seoul_map = folium.Map(location=[37.55, 126.98], tiles = 'Stamen Terrain' , zoom_start=12)

for name, lat, lng in zip(df.index, df.위도, df.경도):
    folium.Marker([lat, lng], popup=name).add_to(seoul_map)

seoul_map.save('./output/seoul_colleges.html')

In [20]:
seoul_map = folium.Map(location=[37.55, 126.98], tiles = 'Stamen Terrain' , zoom_start=12)

for  name, lat, lng in zip(df.대학, df.위도, df.경도):
    folium.CircleMarker([lat, lng], radius=10, color='black' , fill=True,  fill_color='yellow',
                                          fill_opacity=0.7,  popup=name).add_to(seoul_map)	

seoul_map.save('./output/seoul_colleges2.html')

---

In [21]:
df = pd.read_excel('./data/경기도인구데이터.xlsx', index_col='구분')
df.columns=df.columns.map(str)
df.head()

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
구분,,,,,,,,,,,
수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836
성남시수정구,256744,248452,242161,241070,236123,233997,228167,223539,219531,232841,236932

In [25]:
import json

geo_data = json.load(open('./data/경기도행정구역경계.json', encoding='utf-8'))

g_map = folium.Map(location=[37.5502, 126.982], tiles = 'Stamen Terrain' , zoom_start=9) 	
year= '2017'
folium.Choropleth(geo_data=geo_data,
                        data= df[year],
                        columns = [df.index, df[year]],
                        fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.3,
                        threshold_scale=[10000, 100000, 300000, 500000, 700000],
                        key_on = 'feature.properties.name').add_to(g_map)

g_map.save('./output/gyonggi_pop_2017.html')