기상자료개방포털 홈페이지 https://data.kma.go.kr 강수량, 전운량, 황사 발생일수 등 기상과 관련된 다양한 데이터 존재


상단 메뉴에서 기후통계분석 → 기후분석을 선택하고 조건별통계 페이지에서 기온 정보를 알고 싶은 지역과 기간을 설정하여 ‘지역별 기온 데이터’를 CSV 다운로드로 내려받습니다.

**pandas  라이브러리를 이용하여 다음 데이터를 찾는 코드를 작성하시오.**

1. 서울지역의 2000년도~2018년도  날씨 데이터로부터  가장 기온이 낮았던 날짜와 기온 출력

2. 서울지역의  2000년도~2018년도 날씨 데이터로부터  강수량이 가장 많았던 날짜와 기온 출력

3. 서울지역의 2000년도~2018년도 날씨 데이터로부터 년도별 가장 높은 날의 기온과  년도별 가장 높은 날의 기온을 변화를 쉽게 파악할 수 있도록  시각화하시오
---

In [7]:
import pandas as pd
import numpy as np
import re

In [8]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [50]:
df_tmp = pd.read_csv('./data/seoul_temperature.csv', skiprows = 10, encoding= 'cp949')
df_preci = pd.read_csv('./data/seoul_precipitation.csv', skiprows = 6, encoding= 'cp949')

In [51]:
df_tmp.head()

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,\t\t108,서울,Jan-00,-2.1,1.7,9.9,2000-01-01,-5.7,-12.1,2000-01-07
1,\t\t108,서울,Feb-00,-1.7,2.6,7.5,2000-02-19,-5.8,-11.6,2000-02-01
2,\t\t108,서울,Mar-00,6.3,11.4,18.9,2000-03-27,1.7,-4.8,2000-03-08
3,\t\t108,서울,Apr-00,11.9,16.9,23.5,2000-04-20,7.3,1.8,2000-04-11
4,\t\t108,서울,May-00,17.5,22.7,30.5,2000-05-25,12.9,7.9,2000-05-02

In [52]:
df_preci.head()

           날짜   지점  강수량(mm)
0  2000-01-01  108      NaN
1  2000-01-02  108      6.0
2  2000-01-03  108      NaN
3  2000-01-04  108      NaN
4  2000-01-05  108     18.4

In [117]:
type(df_preci)

pandas.core.frame.DataFrame

In [71]:
df_preci.dtypes

날짜          object
지점           int64
강수량(mm)    float64
dtype: object

**1. 서울지역의 2000년도~2018년도  날씨 데이터로부터  가장 기온이 낮았던 날짜와 기온 출력**

In [60]:
df = df_tmp[['최저기온(℃)','최저기온일자']]
min_tmp = df.loc[df['최저기온(℃)'].idxmin(),:]  # idxmin(): 최소값을 가진 index를 반환

print('2000~2018년 최저 기온은 %s에 %s도로 기록되었습니다.'%(min_tmp[1], min_tmp[0]))

2000~2018년 최저 기온은  2001-01-15 에  -18.6 도로 기록되었습니다.

In [116]:
print(min_tmp)

최저기온(℃)         -18.6
최저기온일자     2001-01-15
Name: 12, dtype: object

In [114]:
type(min_tmp)

pandas.core.series.Series

**2. 서울지역의  2000년도~2018년도 날씨 데이터로부터  강수량이 가장 많았던 날짜와 기온 출력**

In [66]:
max_preci = df_preci.loc[df_preci['강수량(mm)'].idxmax(),:]
print(max_preci)

날짜         2011-07-27
지점                108
강수량(mm)         301.5
Name: 4225, dtype: object

In [115]:
type(max_preci)

float

In [107]:
max_preci_day = df_tmp[df_tmp['일시'] == 'Jul-11']
print(max_preci_day['평균기온(℃)'])

138    24.6
Name: 평균기온(℃), dtype: float64

In [118]:
type(max_preci_day)

pandas.core.frame.DataFrame

In [110]:
print('2000~2018년 최대 강수량은 %s에 %s(mm)이며, ' %(max_preci[0], max_preci[2]))

TypeError: 'float' object is not subscriptable

**3. 서울지역의 2000년도~2018년도 날씨 데이터로부터 년도별 가장 높은 날의 기온과  년도별 가장 높은 날의 기온을 변화를 쉽게 파악할 수 있도록  시각화하시오**