### datas 압축파일을 받아서  '경기도인구데이터'.csv파일을 이용하여 
다음 내용을 파이썬  numpy라이브러리를 사용해서 결과를 출력하세요
1. 파일 내용을 읽은 후 상위 5개 데이터 확인
2. 배열 객체의 크기 확인 
3. 중복 지역 존재 여부 확인  
4. 2017년 수원시 인구의 합
5. 2017년 인구가 50만이상이 지역 출력
6. 2017년 경기도 전체 인구의 시별 인구 평균

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 1. 파일 내용을 읽은 후 상위 5개 데이터 확인

In [22]:
df = pd.read_excel('./data/경기도인구데이터.xlsx', encoding = 'euc-kr')
df.head(5)

,구분,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
1,수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
2,수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
3,수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836
4,성남시수정구,256744,248452,242161,241070,236123,233997,228167,223539,219531,232841,236932

### 2. 배열 객체의 크기 확인

In [4]:
df.shape

(44, 12)

### 3. 중복 지역 존재 여부 확인

In [23]:
if any(df['구분'].duplicated()):
  print('중복이 있습니다.')
else:
  print('중복이 없습니다.')

중복이 없습니다.

In [7]:
area_list = []
check = True
for i in range (len(df)):
    str = ''
    for j in range (len(df.loc[i]['구분'])):
        if df.loc[i]['구분'][j] == '시' and j > 0:
            str += df.loc[i]['구분'][j]
            break
        else:
            str += df.loc[i]['구분'][j]
    if str in area_list:
        check = False
    else:
        area_list.append(str)
if check:
    print("True")
else:
    print("False")
print("\n")

False

### 4. 2017년 수원시 인구의 합

In [26]:
suwon = df.loc[df['구분'].str.startswith('수원')]
suwon

,구분,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
1,수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
2,수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
3,수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836

In [28]:
suwon_sum = suwon.sum(axis=0)
print('2017년 수원시 인구의 합:',suwon_sum[2017])

2017년 수원시 인구의 합: 1202628

---

In [33]:
print(df[df['구분'].str.contains('수원')][2017].sum())

1202628

In [12]:
df.set_index('구분', inplace = True)  
import re
char = r'수원시'
df_sw = df.loc[[x for x in df.index if re.match(char, x) != None]]
sw_sum = df_sw[2017].sum()
print('2017년 수원시 총 인구는 %d명'%sw_sum)

2017년 수원시 총 인구는 1202628명

In [41]:
import re
 
total_population_suwon_2017 = 0
pattern = r"수원시"

for i in range(len(df)):
    if re.match(pattern, df['구분'][i]):
        total_population_suwon_2017 = total_population_suwon_2017 + df[2017][i]

print("4. 2017년 수원시 인구의 합 :", total_population_suwon_2017)

4. 2017년 수원시 인구의 합 : 1202628

In [38]:
sum = 0
for i in range (len(df)):
    if '수원시' in df.loc[i]['구분']:
        sum += df.loc[i][2017]
print(sum)
print("\n")

1202628

### 5. 2017년 인구가 50만이상이 지역 출력

In [69]:
data_2017 = data[['구분',2017]]
print(data_2017)

         구분    2017
0    수원시장안구  293828
1    수원시권선구  365653
2    수원시팔달구  193311
3    수원시영통구  349836
4    성남시수정구  236932
5    성남시중원구  230366
6    성남시분당구  500212
7      의정부시  441584
8    안양시만안구  254977
9    안양시동안구  332787
10   부천시원미구  442898
11   부천시소사구  222016
12   부천시오정구  184073
13      광명시  332790
14      평택시  481530
15     동두천시   97071
16   안산시상록구  370744
17   안산시단원구  306966
18   고양시덕양구  448684
19  고양시일산동구  293673
20  고양시일산서구  299626
21      과천시   57527
22      구리시  200042
23     남양주시  665321
24      오산시  213437
25      시흥시  419664
26      군포시  281205
27      의왕시  155767
28      하남시  232487
29   용인시처인구  231553
30   용인시기흥구  419429
31   용인시수지구  353099
32      파주시  437848
33      이천시  213142
34      안성시  182786
35      김포시  392092
36      화성시  691086
37      광주시  345947
38      양주시  212146
39      포천시  152925
40      여주시  111984
41      연천군   45431
42      가평군   62973
43      양평군  115105

---

In [37]:
for i in range(len(df)):
    if df.loc[i][2017] >= 500000:
        print(df.loc[i]['구분'])
print("\n")

성남시분당구
남양주시
화성시

In [39]:
print(df[df[2017] > 500000]['구분'])

6     성남시분당구
23      남양주시
36       화성시
Name: 구분, dtype: object

### 6. 2017년 경기도 전체 인구의 시별 인구 평균

In [43]:
import re

def f(s):
  result = p.findall(s['구분'])
  return pd.Series((result[0],s[2017])) if result else np.nan

p = re.compile('[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]+시')
si_2017 = df.apply(f, axis=1)
si_2017.columns = ['지역', 2017]

print(si_2017.groupby(['지역'])[2017].sum().mean())

451751.5714285714

In [44]:
sum_list = [0 for i in range(len(area_list))]
dup_list = [0 for i in range(len(area_list))]

for i in range (len(area_list)):
    for j in range(len(df)):
        if area_list[i] in df.loc[j]['구분']:
            sum_list[i] += df.loc[j][2017]
            dup_list[i] += 1

average_list = [x/y for x, y in zip(sum_list, dup_list)]

df2 = pd.DataFrame(average_list, index=area_list)
print(df2)
print("\n")

                  0
수원시   300657.000000
성남시   322503.333333
의정부시  441584.000000
안양시   293882.000000
부천시   282995.666667
광명시   332790.000000
평택시   481530.000000
동두천시   97071.000000
안산시   338855.000000
고양시   347327.666667
과천시    57527.000000
구리시   200042.000000
남양주시  665321.000000
오산시   213437.000000
시흥시   419664.000000
군포시   281205.000000
의왕시   155767.000000
하남시   232487.000000
용인시   334693.666667
파주시   437848.000000
이천시   213142.000000
안성시   182786.000000
김포시   392092.000000
화성시   691086.000000
광주시   345947.000000
양주시   438733.500000
포천시   152925.000000
여주시   111984.000000
연천군    45431.000000
가평군    62973.000000
양평군   115105.000000

In [46]:
################### 2017년 경기도 지역별 평균 인구수 ###################

total_popuation_gyeongi_2017 = int(df[2017].sum() / len(df))

print("6-1. 2017년 경기도 지역별 평균 인구수 :", total_popuation_gyeongi_2017, "명")

################### 2017년 경기도 전체 인구의 시별 인구 평균 ###################

# 정규표현식을 통한 **시 필터링

pattern = re.compile(r"(\w+[시]\s*)")

for i in range(len(df)):
    m = pattern.match(df['구분'][i])
    # dismatch 시 pass
    if m == None:
         df.drop(i, inplace=True)
    else:
        df['구분'][i] = m.group()

# 도시별 그룹화

means = round(df.groupby(df["구분"]).mean(),1)

print("6-2. 2017년 경기도 전체 인구의 시별 인구 평균 :")

display(means[2017])

6-1. 2017년 경기도 지역별 평균 인구수 : 308513 명
6-2. 2017년 경기도 전체 인구의 시별 인구 평균 :

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

구분
고양시     347327.7
과천시      57527.0
광명시     332790.0
광주시     345947.0
구리시     200042.0
군포시     281205.0
김포시     392092.0
남양주시    665321.0
동두천시     97071.0
부천시     282995.7
성남시     322503.3
수원시     300657.0
시흥시     419664.0
안산시     338855.0
안성시     182786.0
안양시     293882.0
양주시     212146.0
여주시     111984.0
오산시     213437.0
용인시     334693.7
의왕시     155767.0
의정부시    441584.0
이천시     213142.0
파주시     437848.0
평택시     481530.0
포천시     152925.0
하남시     232487.0
화성시     691086.0
Name: 2017, dtype: float64