In [2]:
import cx_Oracle
import os
os.putenv('NLS_LANG', 'KOREAN_KOREA.KO16MSWIN949')

conn  =  cx_Oracle.connect("scott/oracle@127.0.0.1:1522/orcl")   #DB 연결 
#result = pandas.read_sql("sql문장", con=conn)
curs = conn.cursor()
curs.execute("select * from emp")

for row in curs:
    print(row)

curs.close()
conn.close()

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1987, 4, 19, 0, 0), 3000.0, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1987, 5, 23, 0, 0), 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)

In [4]:
import cx_Oracle
import os
os.putenv('NLS_LANG', 'KOREAN_KOREA.KO16MSWIN949')

conn  =  cx_Oracle.connect("scott/oracle@127.0.0.1:1522/orcl")   #DB 연결 
#result = pandas.read_sql("sql문장", con=conn)
curs = conn.cursor()
curs.execute("select deptno, avg(sal) from emp group by deptno ")

for row in curs:
    print(row)

curs.close()
conn.close()

(30, 1566.6666666666667)
(20, 2175)
(10, 2916.6666666666665)

In [6]:
import cx_Oracle
import os
os.putenv('NLS_LANG', 'KOREAN_KOREA.KO16MSWIN949')

conn  =  cx_Oracle.connect("scott/oracle@127.0.0.1:1522/orcl")   #DB 연결 
curs = conn.cursor()
curs.prepare("insert into dept (deptno, dname) values (:d_val1, :d_val2)")
curs.execute(None, {'d_val1':60, 'd_val2':'IT'})
#curs.execute("insert into dept (deptno, dname) values (:d_val1, :d_val2)", {'d_val1':60, 'd_val2':'IT'})
conn.commit()
 
curs.close()
conn.close()

In [9]:
import csv

seoun_nam_data = []
header = []
rownum = 0

with open("korea_floating_population_data.csv",'r',encoding='cp949') as p_file:
    csv_data = csv.reader(p_file)
    
    for row in csv_data:
        if rownum == 0:
            header = row
        location = row[7]
        if location.find(u"성남시")!=-1:
            seoun_nam_data.append(row)
            
        rownum +=1

with open("seoung_nam_floating_population_data.csv",'w',encoding="utf8") as s_p_file:
    writer = csv.writer(s_p_file, delimiter='\t', quotechar="'", quoting=csv.QUOTE_ALL)
    
    writer.writerow(header)
    for row in seoung_nam_data:
        writer.writerow(row)

NameError: name 'seoung_nam_data' is not defined