## 로지스틱 회귀 분석
머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
score=[56,60,61,67,69, 55,70,44,51,64, 60,50,68,72,90, 93,85,74,81,88, 92,97,77,78,98]
grade=[3.61, 2.93, 3.14, 4.00, 3.23,  3.89, 3.66, 3.51, 2.53, 3.61,  2.93, 3.14, 4.00, 3.23, 2.53, 3.23, 3.89, 3.66, 3.51, 3.89,  3.66, 3.51, 2.53 ,3.14, 4.00]
_pass = [0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

df = pd.DataFrame( {"score":score, "grade": grade, "_pass":_pass})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
score    25 non-null int64
grade    25 non-null float64
_pass    25 non-null int64
dtypes: float64(1), int64(2)
memory usage: 728.0 bytes

In [3]:
X=df[['score', 'grade']]
Y=df[['_pass']]

In [4]:
# train data 와 test data를 7:3 비율로 분리
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [5]:
from sklearn.linear_model import LogisticRegression 

logR = LogisticRegression() 
logR.fit(X_train, Y_train)   #학습

C:\Users\student\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\student\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [6]:
print('정확도: ' , logR.score(X_train, Y_train))
print('정확도: ' , logR.score(X_test, Y_test))

정확도:  0.8823529411764706
정확도:  0.75

In [7]:
#Confusion Matrix기반 정확률, 지지율, F1계수, 재현율을 계산해서 보고서 반환
from sklearn.metrics import classification_report

y_predict = logR.predict(X_test)

print(classification_report(Y_test, y_predict ))   
#실제 합격/불합격 테스트 데이터,  모형으로부터 예측된 합격/불합격 테스트 데이터

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         2
           1       1.00      0.67      0.80         6

    accuracy                           0.75         8
   macro avg       0.75      0.83      0.73         8
weighted avg       0.88      0.75      0.77         8

**방법2 :**

In [8]:
import statsmodels.api as sm

logit = sm.Logit(df['_pass'], X)  #로지스틱 회귀분석 실행
result = logit.fit()
result.summary2()

Optimization terminated successfully.
         Current function value: 0.431881
         Iterations 7

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.370
Dependent Variable: _pass            AIC:              25.5940
Date:               2019-12-20 16:29 BIC:              28.0318
No. Observations:   25               Log-Likelihood:   -10.797
Df Model:           1                LL-Null:          -17.148
Df Residuals:       23               LLR p-value:      0.00036517
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-------------------------------------------------------------------
           Coef.    Std.Err.      z      P>|z|     [0.025    0.975]
-------------------------------------------------------------------
score      0.1320     0.0536    2.4625   0.0138    0.0269    0.2371
grade     -2.6205     1.0922   -2.3994   0.0164   -4.7611   -0.4799
=================================================================

"""

---

### 로지스틱 회귀 분석을 수행하시오

weather.csv파일을 읽어서 Temp, Sunshine,  Humidity, Pressure, Cloud, RainToday , RainTomorrow 특성을 읽어서 dataframe으로 생성하고
RainTomorrow 변수(특성)을  로짓변환 (출력범위를 [0,1]로 조정) 합니다.

데이터를 train data 와 test data=> 7:3 비율로 분리하여 
로지스틱 회귀분석을 수행하고, 모델의 정확도를 출력하고
Temp, Sunshine,  Humidity, Pressure, Cloud가 내일 비가 올것이라고 예보하는 영향도를 평가하시오

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline 

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [16]:
df = pd.read_csv("./data/weather.csv", encoding="cp949")
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Sunshine,WindGustDir,WindGustSpeed,WindDir,WindSpeed,Humidity,Pressure,Cloud,Temp,RainToday,RainTomorrow
0,2014-11-01,8.0,24.3,0.0,6.3,NW,30.0,NW,20,29,1015.0,7,23.6,No,Yes
1,2014-11-02,14.0,26.9,3.6,9.7,ENE,39.0,W,17,36,1008.4,3,25.7,Yes,Yes
2,2014-11-03,13.7,23.4,3.6,3.3,NW,85.0,NNE,6,69,1007.2,7,20.2,Yes,Yes
3,2014-11-04,13.3,15.5,39.8,9.1,NW,54.0,W,24,56,1007.0,7,14.1,Yes,Yes
4,2014-11-05,7.6,16.1,2.8,10.6,SSE,50.0,ESE,28,49,1018.5,7,15.4,Yes,No

In [17]:
df = df[['Temp','Sunshine','Humidity','Pressure','Cloud','RainToday','RainTomorrow']]
df.head()

   Temp  Sunshine  Humidity  Pressure  Cloud RainToday RainTomorrow
0  23.6       6.3        29    1015.0      7        No          Yes
1  25.7       9.7        36    1008.4      3       Yes          Yes
2  20.2       3.3        69    1007.2      7       Yes          Yes
3  14.1       9.1        56    1007.0      7       Yes          Yes
4  15.4      10.6        49    1018.5      7       Yes           No

In [ ]:
X=df[['score', 'grade']]
Y=df[['_pass']]

In [ ]:
# train data 와 test data를 7:3 비율로 분리
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression 

logR = LogisticRegression() 
logR.fit(X_train, Y_train)   #학습